<div class="schema-container">
  <div class="schema-control">
    <input type="text" placeholder="Search Saved Queries..." class="form-control" ng-model="$ctrl.queryFilter">
    <button class="btn btn-default"
            title="Refresh Queries"
            ng-click="$ctrl.onRefresh()">
      <span class="zmdi zmdi-refresh"></span>
    </button>
  </div>

  <div class="schema-browser" vs-repeat vs-size="$ctrl.getSize()">
    <div ng-repeat="query in $ctrl.paginator.getPageRows() | filter:$ctrl.queryFilter track by query.name">
      <div class="query-name">
        <i class="fa fa-table"></i>                  
        <strong>
          <span title="{{query.name}}"><a href="queries/{{query.id}}/source">{{query.name}}</a></span>
        </strong>
      </div>
    </div>
  </div>
</div>
